@CHARSET "ISO-8859-1";

*{
    margin: 0px;
    padding: 0px;
}

html
{
	height:100%;
	background-image: url("res/bg.jpg");
	background-size: 100% 100%;
}

body
{
	height: 100%;
	width: 100%;
}

#wrapper
{
	width: 100%;
	height: 100%;
}

#content
{
	width: 100%;
	height: 100%;
}

legend
{
	text-align: center;
	margin-left:40%;
}

fieldset
{
	text-align: center;
}

#popupContent
{
	background-color: #fff;
	color: #222;
	font-family: sans-serif;
	overflow: scroll;
	height: 270px;
}
#popupContent pre
{
	margin: 0;
	font-family: monospace;
}
#popupContent a:link
{
	color: #009;
	text-decoration: none;
	background-color: #fff;
}
#popupContent a:hover
{
	text-decoration: underline;
}
#popupContent table
{
	 border-collapse: collapse;
	 border: 0;
	 box-shadow: 1px 2px 3px #ccc;
}
#popupContent .center
{
	text-align: center;
}
#popupContent .center table
{
	margin: 1em auto;
	text-align: left;
}
#popupContent .center th
{
	text-align: center !important;
}
#popupContent td, th
{
	border: 1px solid #666;
	font-size: 75%;
	vertical-align: baseline;
	padding: 4px 5px;
}
#popupContent h1
{
	font-size: 150%;
}
#popupContent h2
{
	font-size: 125%;
}
#popupContent .p
{
	text-align: left;
}
#popupContent .e
{
	background-color: #ccf;
	font-weight: bold;
}
#popupContent .h
{
	background-color: #99c;
	font-weight: bold;
}
#popupContent .v
{
	background-color: #ddd;
	max-width: 300px;
	overflow-x: auto;
}
#popupContent .v i
{
	color: #999;
}
#popupContent img
{
	float: right;
	border: 0;
}
#popupContent hr
{
	background-color: #ccc;
	border: 0;
}

.popup
{
	position: absolute;
	top: 200px;
	right: 200px;
	display: inline;
	float: left;
	height: 300px;
	width: 300px;
	border: solid 4px rgba(255,89,213,1.0);
}

h1
{
	color: #e8c14b;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 25px;
}


.popupHeader
{
	height: 30px;
	background-color: rgba(224,73,214,0.5);
}

.popupHeader img
{
	float: right;
}

.popupHeader h2
{
	display: inline;
	color: #e8c14b;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 25px;
	padding-left: 5%;
	width: 80%;
}

.webtopIcon
{
	margin-left: 2%;
	margin-top: 1%;
}

#taskbar
{
	position: fixed;
	background: rgba(224,73,214,0.5); /*#aa44cc*/
	border-width: 0px;
	border-style: solid;
	border-top-width: 2px;
	border-color: rgba(255,89,213,1.0);
	bottom: 0px;
	height: 50px;
	display: block;
	width: 100%;
}

#startButton
{
	position: relative;
	bottom: 25px;
	padding-left: 2%;
}

#startMenu
{
	height: 300px;
	width: 20%;
	border-top-right-radius: 40px;
	position: absolute;
	bottom: 106%;
	border-color: rgba(255,89,213,1.0);
	border-width: 3px;
	background-color: rgba(255,255,255,0.5);
	border-style: solid;
}
#startMenu a
{
	color: #e8c14b;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
	padding-left: 5%;
	padding-top: 5%;
}

#startMenu a:hover
{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 25px;
	text-decoration: underline;
	padding-left: 5%;
	padding-top: 5%;
}

#loginForm
{
	color: #e8c14b;
	font-size: 30px;
	margin: 10% auto;
	padding: 1%;
	width: 400px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	
}

#loginForm fieldset
{
	border-color: rgba(255,89,213,1.0);
	border-width: 3px;
	border-radius: 40px;
	background-color: rgba(0,0,0,0.5);
	border-style: solid;
}

.loginIcon
{
	display: inline;
	float: left;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 55px;
	height: 30px;
	width: 40px;
	background: RGB(50,50,50);
	border: solid 5px RGB(50,50,50);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.loginIcon img
{
	margin: 0px 5px 5px 5px;
}

#loginForm input[type=text], input[type=password]
{
	float: left;
	margin-left: 0px;
	margin-top: 10px;
	line-height: 30px;
	text-align: left;
	width: 200px;
	background: RGB(100,100,100);
	padding-left: 5%;
	border: solid 5px RGB(100,100,100);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#loginButton
{
	float: left;
	margin: 10px 0px 10px 55px;
	width: 280px;
	height: 40px;
	border: 5px RGB(255,0,221);
	border-radius: 5px;
	background: #ff50ee;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#loginButton:hover
{
	float: left;
	margin: 10px 0px 10px 55px;
	width: 280px;
	height: 40px;
	border: 5px RGB(255,0,221);
	border-radius: 5px;
	background: #ff80ff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

