@CHARSET "ISO-8859-1";

*{
    margin: 0;
    padding: 0;
}

html
{
	height:100%;
	background-image: url("res/bg.jpg");
	background-size: 100% 100%;
}


legend
{
	text-align: center;
	margin-left:40%;
}

fieldset
{
	text-align: center;
}

.popup {
	height: 25%;
	width: 25%;
	
	
}

.popupHeader{
	height: 5%;
	width: 25%;
	
}

#loginForm
{
	color: yellow;
	font-size: 30px;
	margin: 10% auto;
	padding: 1%;
	width: 20%;
	font-family: "Comic Sans MS";
	
}

.loginIcon{
	display: inline;
	float: left;
	margin-top: 5%;
	margin-right: 0;
	margin-left: 15%;
	height: 30px;
	width: 50px;
	background: RGB(0,0,0);
	border: solid 5px RGB(0,0,0);
	border-radius: 5px;
}

#loginForm input[type=text], input[type=password]{
	margin-left: 0;
	margin-top: 5%;
	line-height: 30px;
	text-align: left;
	width: 40%;
	background: RGB(100,100,100);
	padding-left: 5%;
	border: solid 5px RGB(100,100,100);
	border-radius: 5px;
}

#loginButton{
	margin: 5% 5% 5% 5%;
	width: 50%;
}

